[submodule ".registry"]
	path = .registry
	url = https://github.com/rj-irvine/rj-irvine.r-universe.dev
	branch = HEAD
[submodule "rlogger"]
	path = rlogger
	url = https://github.com/rj-irvine/rlogger
